<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Playing Cards Simulator</h1>
        <h1>
          <i class="mdi mdi-cards-club"></i>
          <i class="mdi mdi-cards-diamond red"></i>
          <i class="mdi mdi-cards-heart red"></i>
          <i class="mdi mdi-cards-spade"></i></h1>
        <p class="lead">Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
